services:
  # Sketched client
  client:
    image: "shevtsod/sketched-client:${VERSION:-latest}"
    restart: "unless-stopped"
    depends_on:
      - server
    # Override environment variables
    networks:
      - frontend
    volumes:
      # Mount source code for hot reload
      - "./packages/client/src:/app/src"

  # Sketched server
  server:
    image: "shevtsod/sketched-server:${VERSION:-latest}"
    restart: "unless-stopped"
    depends_on:
      - db
      - cache
    # Load environment variables from file
    env_file:
      - path: ".env"
        required: false
    # Override environment variables
    environment:
      DB_HOST: "db"
      CACHE_HOST: "cache"
      STORAGE_ENDPOINT: "http://objects:9000"
    networks:
      - frontend
      - backend
    volumes:
      # Mount source code for hot reload
      - "./packages/server/src:/app/src"

  # database
  # https://hub.docker.com/_/postgres
  db:
    image: "postgres:18-alpine"
    restart: "unless-stopped"
    environment:
      POSTGRES_DB: "${DB_NAME:-sketched}"
      POSTGRES_USER: "${DB_USER:-sketched}"
      POSTGRES_PASSWORD: "${DB_PASSWORD:-change-me}"
    networks:
      - backend
    volumes:
      # Persist database data
      - "postgres_data:/var/lib/postgresql/data"

  # cache
  # https://hub.docker.com/r/valkey/valkey/
  cache:
    image: "valkey/valkey:9-alpine"
    restart: "unless-stopped"
    # substitute env vars and run valkey-server
    # note: valkey image does not include envsubst
    entrypoint: >
      /bin/sh -c '
      sed -e "s/__CACHE_PORT__/${CACHE_PORT:-6379}/g"
      -e "s/__CACHE_USER__/${CACHE_USER:-sketched}/g"
      -e "s/__CACHE_PASSWORD__/${CACHE_PASSWORD:-change-me}/g"
      /usr/local/etc/valkey/valkey.conf.template >
      /usr/local/etc/valkey/valkey.conf &&
      valkey-server /usr/local/etc/valkey/valkey.conf
      '
    networks:
      - backend
    volumes:
      # https://valkey.io/topics/valkey.conf/
      - "./docker/valkey/valkey.conf.template:/usr/local/etc/valkey/valkey.conf.template:ro"
      # Persist cache data
      - "valkey_data:/data"

  # object store
  # https://hub.docker.com/r/minio/minio
  objects:
    image: "minio/minio:RELEASE.2025-09-07T16-13-09Z"
    restart: "unless-stopped"
    command: server /data --console-address ":9001"
    networks:
      - backend
    volumes:
      # Persist object store data
      - "minio_data:/data"

  # init object store via cli
  # https://hub.docker.com/r/minio/mc/
  objects-init:
    image: "minio/mc:RELEASE.2025-08-13T08-35-41Z"
    depends_on:
      - objects
    restart: "no"
    # create user and bucket
    entrypoint: >
      /bin/sh -c '
      echo "Waiting for MinIO ..." &&
      sleep 5 &&
      mc alias set minio http://objects:9000 minioadmin minioadmin &&
      mc mb minio/${STORAGE_BUCKET:-sketched} || true &&
      mc admin user add minio "${STORAGE_ACCESS_KEY_ID:-sketched}" "${STORAGE_SECRET_ACCESS_KEY:-change-me}" &&
      mc admin policy attach minio readwrite --user="${STORAGE_ACCESS_KEY_ID:-sketched}"
      '
    networks:
      - backend

networks:
  # client-facing services network
  frontend:
    driver: bridge
  # internal services network
  backend:
    driver: bridge

volumes:
  # database data
  postgres_data:
  # cache data
  valkey_data:
  # object store data
  minio_data:
